* {
    box-sizing: border-box;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input, button {
        display: block;
        width: 100%;
        max-width: 200px;
        margin-bottom: 20px;
    }
}