/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

h1 {
    margin-top: 0px;
}

table {
    width: auto;
    th {
        background: rgba(0, 0, 0, 0.1);
    }
    td, tr, th {
        padding: 5px;
        border: 1px solid black;
    }
}

a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
}

button {
    display: block;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}