<div *ngIf="isAuth" [ngClass]="{'minicart-wrapper': true, 'closed': !cartOpen}">
    <h3>Your cart</h3>
    <table class="cart-table">
        <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr *ngIf="cartItems.length == 0">
                <td colspan="3">No products in cart.</td>
            </tr>
            <tr *ngFor="let cartItem of cartItems">
                <td>{{cartItem.product.name}}</td>
                <td>{{cartItem.quantity}}</td>
                <td>{{cartItem.subtotal}}</td>
            </tr>
            <tr *ngIf="cartItems.length > 0">
                Total: {{cartSubtotal()}}
            </tr>
        </tbody>
    </table>
    <button [ngClass]="{'toggleCartButton': true, 'isActive': !cartOpen}" (click)="toggleCart()"> > </button>
    <a routerLink="/checkout"><button>Go to checkout</button></a>
</div>